/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
    font-family: "";
    src: url("") format("woof2"),
         url("") format("woof");
}

/* ******************************** */

/* Colores */

/* ******************************** */

/* Crear zona negra */
body{
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    background: linear-gradient(to right top,
     #845ec2, #8e59c0, #9954be, #a34eba,
      #ad47b6, #bd3fab, #ca36a0, #d52e93,
       #e22b7d, #e93267, #eb4051, #e8503c);

    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    position: relative;
}

/* cuadrados */
.cuadrado{
    width: 35vw;
    height: 35vw;
    padding: 1rem;
    background: radial-gradient(circle, #03ea11,
     #11e523, #1be02e, #23da37, #29d53e,
      #35ca3e, #3cc03f, #42b53f, #47a33b,
       #499137, #488034, #466f32);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left, .right, .dospuntos{
    color: white;
    font-size: 3.5rem;
}
.dospuntos{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Roto */
.roto{
    width: 100%;
    height: 5px;
    background: linear-gradient(to right top,
     #845ec2, #8e59c0, #9954be, #a34eba,
      #ad47b6, #bd3fab, #ca36a0, #d52e93,
       #e22b7d, #e93267, #eb4051, #e8503c);
    position: absolute;
    top: calc(50% - 2.5px);
    left:0;
}