/* *********************************** */


/* *** ESTILOS GENERALES *** */


/* *********************************** */


/* Tipografía */

@font-face {
    font-family: "Adca";
    src: url("font/adca-webfont.woff") format("woof2"), url("font/adca-webfont.woff") format("woof");
}


/* ******************************** */


/* Colores */


/* ******************************** */


/* Crear zona negra */

body {
    font-family: "Adca", arial, sans-serif;
    font-size: 100em;
    text-shadow: inset 9px 9px 12px black;
    height: 100vh;
    background-color: #343949;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    position: relative;
}


/* CUADRADOS */

.cuadrado {
    width: 10vw;
    height: 10vh;
    padding: 1rem;
    background-color: #508CA4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left,
.right,
.dospuntos {
    color: #F5F9E9;
    font-size: 3.5rem;
}

.dospuntos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


/* Roto */


/* .roto {
    width: 100%;
    height: 10px;
    background-color: rgb(21, 21, 21);
    position: absolute;
    top: calc(50% - 2.5px);
    left: 0;
} */