/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
    font-family: "";
    src: url("") format("woof2"),
         url("") format("woof");
}

/* ******************************** */

/* Colores */

/* ******************************** */

/* Crear zona negra */
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    height: 100vh;
    background-color: #00AAA4;

    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    position: relative;
}

/* cuadrados */
.cuadrado{
   
    padding: 1rem;
    background:linear-gradient(to right top, #4d3a4d, #515273, #3c6f95, #008da7, #00aaa4);;
    border-radius: 30px;
    border: 10px groove white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.left, .right, .dospuntos{
    color: white;
    font-size: 6rem;
    margin:10px;
}
.dospuntos{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Roto */
.roto{
    width: 100%;
    height: 5px;
    background-color: #00AAA4;
    position: absolute;
    top: calc(51% );
    left:0;
}

.cuadrado:hover{
    background:#4D3A4D; 
}